<header class="app-header shadow-md sticky-top">
  <nav class="header-nav">
    <div class="logo">
      <img src="./media/img/unmsm.png" alt="UNMSM Escudo" height="40">
      <span>FISI IA</span>
    </div>
    <ul class="nav-links">
      <li><a [class.active]="activeSection === 'inicio'" href="#inicio">Inicio</a></li>
      <li><a [class.active]="activeSection === 'docente'" href="#docente">Docente</a></li>
      <li><a [class.active]="activeSection === 'grupo'" href="#grupo">Grupo</a></li>
      <li><a [class.active]="activeSection === 'material'" href="#material">Material</a></li>
    </ul>
    <button onclick="">
      Syllabus
    </button>
  </nav>
</header>
