<c-tabs [activeItemKey]="0">
  <c-tabs-list variant="pills">
    @for (week of weeks; track week) {
      <button cTab [itemKey]="week.key">
        Semana {{ week.key + 1 }}
      </button>
    }
  </c-tabs-list>

  <c-tabs-content>
    @for (week of weeks; track week) {
      <c-tab-panel class="p-3" [itemKey]="week.key">
        <app-tab-panel
          [title]="week.title"
          [points]="week.points"
          [summary]="week.summary"
          [resourceLink]="week.resourceLink"
          [labLink]="week.labLink"
          [workLink]="week.workLink">
        </app-tab-panel>
      </c-tab-panel>
    }
  </c-tabs-content>
</c-tabs>
